html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* GAME GRID */
.gameContainer{
    margin: 0 auto;
}

.game {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 25vw;
    background: white;
    border: 2.5px solid black;
}

.item {
    border: 5px solid black;
}

.one {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.two {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.three {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;   
}

.four {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;  
}

.five {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;  
}

.six {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}

.seven {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.eight {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}

.nine {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1; 
}

.blue {
    background: blue;
}

.red {
    background: red;
}